{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: #6f6663">
    <div class="container" style="color: #dcdcdf">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active"   aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #dcdcdf" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #dcdcdf" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>      
</header>